.subscribe-form-item {
  padding: 1em;
  background: #3f4045;
  color: #fff;
  border-style: none;
  border-left: 1px solid #343539;
  border-right: 1px solid #343539;
  border-bottom: 1px solid #343539;
  min-height: 48px;
  text-transform: uppercase;
}

.subscribe-form-item:first-child {
  border-top: 1px solid #343539;
}

.subscribe-form-item:focus {
  outline: none;
}

.subscribe-form {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.subscribe-button {
  cursor: pointer;
  text-align: left;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  background: linear-gradient(90deg, #5f5aa2, #343539);
}
