.goal-thumbnail {
  object-fit: cover;
  height: 50px;
  width: 100%;
  border-radius: 5px
}

td, th {
  vertical-align: middle;
  letter-spacing: 1px;
  border-top: 1px solid black;
  padding: 0.5em 0.1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.edit-button {
  cursor: pointer;
  background: #5F5AA2;
  color: #fff;
  padding: 1em;
  border-radius: 5px
}

.edit-button:hover {
  background: linear-gradient(45deg, #5F5AA2, #fbf5f3);
}

@media only screen and (min-width: 768px) {
  .goal-thumbnail {
    height: 5em;
  }
}
