* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
}

/* ---- LAYOUT ---- */
.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body_content {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

.container {
  margin: 1em auto;
  max-width: 85vw;
}
